NEXT_PUBLIC_SUPABASE_URL="https://lgyoekaaefzpymfxfggf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_onQMozx8AHJ4CiOK1esVBw_bO8M2Cu3"
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.lgyoekaaefzpymfxfggf.supabase.co:5432/postgres"
GEMINI_API_KEY=""
